In [2]:
import pandas as pd
poke_df = pd.read_csv('D:\Sample Folder\pokemon_data.csv')
poke_df.head(3)

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\WINDOWS\AppData\Local\Temp\ipykernel_78080\117907026.py:2: SyntaxWarning: invalid escape sequence '\S'
  poke_df = pd.read_csv('D:\Sample Folder\pokemon_data.csv')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [3]:
# print(poke_df[['Name','Type 1','HP','Legendary']][100:101])
# print(poke_df.iloc[20:44])
# print(poke_df.iloc[ [10,3]])

In [4]:
count = 0
for index, row in poke_df.iterrows():
    print(index, row['Name'])
    count += 1
    if count == 12:
        break

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 CharizardMega Charizard X
8 CharizardMega Charizard Y
9 Squirtle
10 Wartortle
11 Blastoise

In [5]:
poke_df.loc[poke_df['Type 2'] == "Fire"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
246,228,Houndour,Dark,Fire,45,60,30,80,50,65,2,False
247,229,Houndoom,Dark,Fire,75,90,50,110,80,95,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
532,479,RotomHeat Rotom,Electric,Fire,50,65,107,105,107,86,4,False
553,494,Victini,Psychic,Fire,100,100,100,100,100,100,5,True
668,607,Litwick,Ghost,Fire,50,30,55,65,55,20,5,False
669,608,Lampent,Ghost,Fire,60,40,60,95,60,55,5,False
670,609,Chandelure,Ghost,Fire,60,55,90,145,90,80,5,False
697,636,Larvesta,Bug,Fire,55,85,55,50,55,60,5,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
706,643,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True

In [6]:
poke_df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

Sorting Data

In [7]:
poke_df.sort_values(['Type 1','HP'],ascending =True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False

Marking Changes to Data

In [8]:
# adding a new column named toatal
poke_df['Total'] = poke_df['HP'] + poke_df['Attack'] + poke_df['Defense']

# poke_df.head(2)
# poke_df = poke_df.drop(columns = ['Total'])
# poke_df.head(2)

In [9]:
fuck = list(poke_df.columns.values)

poke_df = poke_df[fuck[0:4] + [fuck[-1]]+ fuck[4:12]]

poke_df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,143,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,185,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,245,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,303,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,134,39,52,43,60,50,65,1,False

Saving Data in the file

In [10]:
# poke_df.to_csv('new.csv',index = False)
poke_df.to_csv('new_.csv',index = False,sep = '\t')

Filtering of Data

In [11]:
filtered_df = poke_df.loc[(poke_df['Type 1']== 'Grass') | (poke_df['Type 2']=='Poison')]
# resetting the index of data 
filtered_df = filtered_df.reset_index()
filtered_df
filtered_df.to_csv('new_filtered_data.csv')

Removing the elements that contain mega in their name

In [12]:
# filtered_new_df = filtered_df.loc[~filtered_df['Name'].str.contains('Mega')]
# filtered_new_df
import re
poke_df.loc[poke_df['Type 1'].str.contains('Fire|Ice',flags = re.I,regex = True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,134,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,180,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,240,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,319,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,260,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,170,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,226,86,68,72,109,66,106,6,False
788,712,Bergmite,Ice,NaN,209,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,396,95,117,184,44,46,28,6,False
799,721,Volcanion,Fire,Water,310,80,110,120,130,90,70,6,True

Flags = re.I is used to make the statement above case insensitive

Conditional Changes

In [13]:
filtered_df = poke_df.loc[(poke_df['Type 1'] == 'Fire') | (poke_df['Legendary'] == True)]
print(filtered_df.head(6))

     #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
4    4                 Charmander   Fire     NaN    134  39      52       43
5    5                 Charmeleon   Fire     NaN    180  58      64       58
6    6                  Charizard   Fire  Flying    240  78      84       78
7    6  CharizardMega Charizard X   Fire  Dragon    319  78     130      111
8    6  CharizardMega Charizard Y   Fire  Flying    260  78     104       78
42  37                     Vulpix   Fire     NaN    119  38      41       40

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
4        60       50     65           1      False
5        80       65     80           1      False
6       109       85    100           1      False
7       130       85    100           1      False
8       159      115    100           1      False
42       50       65     65           1      False

Aggregate statistics(Groupby)

In [15]:
df = pd.read_csv('D:\Sample Folder\pokemon_data.csv')
# Select only the numeric columns for aggregation
numeric_columns = df.select_dtypes(include=['number']).columns

# Group by 'Type 1', calculate the mean for numeric columns, and sort by 'HP' in descending order
df_grouped = df.groupby(['Type 1'])[numeric_columns].mean().sort_values('HP', ascending=False)

print(df_grouped.head(5))

                 #         HP      Attack    Defense    Sp. Atk    Sp. Def  \
Type 1
Dragon  474.375000  83.312500  112.125000  86.375000  96.843750  88.843750
Normal  319.173469  77.275510   73.469388  59.846939  55.816327  63.724490
Fairy   449.529412  74.117647   61.529412  65.705882  78.529412  84.705882
Ground  356.281250  73.781250   95.750000  84.843750  56.468750  62.750000
Water   303.089286  72.062500   74.151786  72.946429  74.812500  70.517857

            Speed  Generation
Type 1
Dragon  83.031250    3.875000
Normal  71.551020    3.051020
Fairy   48.588235    4.117647
Ground  63.906250    3.156250
Water   65.964286    2.857143

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\WINDOWS\AppData\Local\Temp\ipykernel_78080\1514218854.py:1: SyntaxWarning: invalid escape sequence '\S'
  df = pd.read_csv('D:\Sample Folder\pokemon_data.csv')

In [16]:
df.groupby(['Type 1']).sum()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,23080,CaterpieMetapodButterfreeWeedleKakunaBeedrillB...,FlyingPoisonPoisonPoisonPoisonGrassGrassPoison...,3925,4897,4880,3717,4471,4256,222,0
Dark,14302,UmbreonMurkrowSneaselHoundourHoundoomHoundoomM...,FlyingIceFireFireFireGhostGhostFlyingIceFighti...,2071,2740,2177,2314,2155,2361,125,2
Dragon,15180,DratiniDragonairDragoniteAltariaAltariaMega Al...,FlyingFlyingFairyFlyingFlyingPsychicPsychicPsy...,2666,3588,2764,3099,2843,2657,124,12
Electric,15994,PikachuRaichuMagnemiteMagnetonVoltorbElectrode...,SteelSteelFlyingDragonSteelGhostFireWaterIceFl...,2631,3040,2917,3961,3243,3718,144,4
Fairy,7642,ClefairyClefableCleffaTogepiTogeticSnubbullGra...,FlyingFlying,1260,1046,1117,1335,1440,826,70,1
Fighting,9824,MankeyPrimeapeMachopMachokeMachampHitmonleeHit...,PsychicPsychicPsychicSteelSteelDarkFlying,1886,2613,1780,1434,1747,1784,91,0
Fire,17025,CharmanderCharmeleonCharizardCharizardMega Cha...,FlyingDragonFlyingFlyingRockFlyingFightingFigh...,3635,4408,3524,4627,3755,3871,167,5
Flying,2711,TornadusIncarnate FormeTornadusTherian FormeNo...,DragonDragon,283,315,265,377,290,410,22,2
Ghost,15568,GastlyHaunterGengarGengarMega GengarMisdreavus...,PoisonPoisonPoisonPoisonFlyingFlyingDarkDragon...,2062,2361,2598,2539,2447,2059,134,2
Grass,24141,BulbasaurIvysaurVenusaurVenusaurMega VenusaurO...,PoisonPoisonPoisonPoisonPoisonPoisonPoisonPois...,4709,5125,4956,5425,4930,4335,235,3
Ground,11401,SandshrewSandslashDiglettDugtrioCuboneMarowakR...,RockRockFlyingDragonDragonPsychicPsychicFireRo...,2361,3064,2715,1807,2008,2045,101,4
Ice,10165,JynxArticunoSwinubPiloswineDelibirdSmoochumSno...,PsychicFlyingGroundGroundFlyingPsychicWaterWat...,1728,1746,1714,1861,1831,1523,85,2
Normal,31279,PidgeyPidgeottoPidgeotPidgeotMega PidgeotRatta...,FlyingFlyingFlyingFlyingFlyingFlyingFairyFairy...,7573,7200,5865,5470,6245,7012,299,2
Poison,7050,EkansArbokNidoran (Female)NidorinaNidoqueenNid...,GroundGroundFlyingFlyingFlyingDarkDarkBugDarkF...,1883,2091,1927,1692,1803,1780,71,0
Psychic,21706,AbraKadabraAlakazamAlakazamMega AlakazamDrowze...,FairyFightingFlyingFlyingFlyingGrassFairyFairy...,4026,4073,3858,5609,4918,4645,193,14
Rock,17280,GeodudeGravelerGolemOnixOmanyteOmastarKabutoKa...,GroundGroundGroundGroundWaterWaterWaterWaterFl...,2876,4086,4435,2787,3321,2460,152,4
Steel,11957,SteelixSteelixMega SteelixSkarmoryMawileMawile...,GroundGroundFlyingFairyFairyRockRockRockPsychi...,1761,2503,3412,1823,2177,1492,104,4
Water,33946,SquirtleWartortleBlastoiseBlastoiseMega Blasto...,FightingPoisonPoisonPsychicPsychicPsychicIceIc...,8071,8305,8170,8379,7898,7388,320,4